@import '../../../common';



.service-item{
    .service-wrapper{
        padding: 25px;
        display: flex;
        flex-direction: column;
        .icon-wrapper{
            color: $com-color;
            font-size: 3rem;
            margin-bottom: 10px;
        }
        .title{
            color: $sec-color;
            font-size: 1.5rem;
            padding-bottom: 5px;
            position: relative;
            &::after{
                width: 3rem;
                height: 2px;
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                background: $ter-bg;
            }
        }
        .description{
            color: $pri-color;
            font-size: 1.1rem;
            letter-spacing: 0.5px;
            margin-top: 25px;
        }
    }
}