@import '../common';

.navigation{
    width: 250px;
    min-height: 100vh;
    background: $sec-bg;
    text-align: center;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;    
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $ter-bg;
    box-shadow: 0 2px 10px #010101;
    transition: all 500ms ease-in-out;
    z-index: 500;
    @media (max-width:900px) {
        &.open{
            transform: translateX(0);
        }
        &.close{
            transform: translateX(-250px);
        }
    }
    @media (max-height:500px) {
        overflow-y: scroll;
        height: 500px;
    }
    .toggle{
        position: absolute;
        top: 10px;
        left: 100%;
    }
    .avatar{
        width: 100%;
        display: flex;
        padding: 20px 0;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid $ter-bg;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 7px solid $ter-bg;
            overflow: hidden;
            box-shadow: 0 0 15px $pri-bg;
        }
    }
    .nav-wrapper{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 5px;
        text-align: center;
        .nav-items{
            width: 100%;
            list-style: none;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: $pri-font;
        }
    }
    .footer{
        border-top: 2px solid $ter-bg;
        padding: 10px 0;
    }
}