// importing font
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800&display=swap');
// declaring variable
$pri-bg: #10121B;
$sec-bg: #191D2B;
$ter-bg: #2E344E;
$pri-color: #A4ACC4;
$sec-color: #FFFFFF;
$com-color: #037FFF;
$pri-font: 'Nunito', sans-serif;

// declaring @mixin for common style
