@import './common';
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $com-color; 
  border-radius: 10px;
  background: $ter-bg;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $com-color;
  box-shadow: inset 0 0 6px $com-color; 
}

body{
  background: $pri-bg;
  overflow-x: hidden;
}
.Portfolio{
  width: calc(100vw - 250px);
  margin-left: 250px;
  min-height: 100vh;
  color: $pri-color;
  position: relative;
  
  @media (max-width:900px) {
    width: 100%;
    margin-left: 0;
  }
  
}