@import '../../common';
.service{
    width: 100%;
    border: 2px solid $ter-bg;
    border-top: 5px solid $ter-bg;  
    margin-bottom: 15px;
    background: $sec-bg;
    transition: all 500ms ease-in-out;
    &:hover{
        border-top-color: $com-color;
    }
    @media (min-width: 900px){
        margin: 0 10px;
        &:first-child{
            margin-left: 0;
        }
    }
}